extends layout

block content
    .container
        ul.list-group
            li.list-group-item
                span.badge 14
                =content
            li.list-group-item
                span.badge 2
                | Dapibus ac facilisis in
            li.list-group-item
                span.badge 1
                | Morbi leo risus

